*{
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.hero{
    /* background-image: url(/public/hero.png); */
    background-repeat: no-repeat;


    background-size: cover;
    text-align: center;
    padding: 350px 0 100px 0;
}


.hero h1{
    font-size: 60px;
    color: white;
    margin-bottom: 10px;
}
.hero h2{
    color: white;
    font-size: 50px;
}
.buttons{
    margin-top: 160px;
    display: block;
    justify-content: center;
}
.btn{
    width: 190px;
    height: 45px;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 35px;
    border: 1px solid orange;
}
.personal{
    background-color: orange;
}

/* about section */

.about{
    background-color: rgb(243, 243, 243);
    height: 870px;
}
.box{
    width: 90%;
    height: 85%;
    padding-top: 70px;
    padding-left: 140px;
    border-top-right-radius: 57%;
    border-bottom-right-radius: 50%;
}
.description{
    padding-top: 180px;
    padding-right: 120px;
}
.description h1{
    font-size: 55px;
}
.description p{
    font-size: 22px;
    text-align: center;
}
.line1{
    border-radius: 30px;
    background-image: linear-gradient(to right, hsl(39, 100%, 50%), rgb(13, 13, 104));
}

/* Testimonials section */
.card {
    width: 350px;
}
.card-img-top{
    height: 170px;
    border-radius: 100%;
    width: 170px;
    
}
.mycard{
    box-shadow:0 15px rgb(231, 230, 230);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.test-cards{
    padding: 0px 100px 0px 120px;
}
.line2{
    color: hsl(41, 100%, 50%);
    margin: auto;
}
.testimonial{
    padding-top: 20px;
    padding-bottom: 40px;
}
.testimonial h1 {
    color: orange;
    font-size: 58px;
    text-align: center;
}
.testimonial h3 {
    text-align: center;
    font-size: 44px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* popup */

.pop-form{
    background-color: gray;
    padding: 70px;
}
.form1{
    border: 2px solid black;
    padding: 40px;
    background-color: white;
}
#date{
    width: 300px;
    height: 38px;
    margin-top: 10px;
    border: 2px solid blue;
}
.fname{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border: 2px solid blue;
}
.form1 label{
   font-size: 18px; 
   margin-bottom: 18px;
}
.form-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btn-btn1{
    background-color: orange;
    color: white;
    border: none;
}


/* media queries */
@media screen and (min-width: 360px) and (max-width:700px){
   *{
       margin: 0;
       padding: 0;
   }
    .intro{
       padding: 10px;
       margin: 0;
       text-align: center;
   }
   .buttons{
       margin-top: 20px;
   }
   .btn{
       font-size: 14px;
   }
   .box{
       padding-top: 0;
       transform: rotate(90deg);
       width: 100%;
   }
   .description{
       padding-top: 0px;
       padding-right: 0px;
   }
   .description h1{
       font-size: 40px;
       text-align: center;
   }
   .description p{
       font-size: 22px;
       text-align: center;
   }
   .about{
       height: auto;
   }
   .testimonial h3{
       font-size: 30px;
   }
   .testimonial h1{
        font-size: 44px;
   }
   .test-cards{
       padding: 0;
       margin-left: auto;
       justify-content: center;
       align-items: center;
   }
   .card{
       width: 100%;
       margin-bottom: 25px;
   }
}

@media screen and (min-width: 710px) and (max-width: 1000px){
    .description h1{
        font-size: 42px;
    }
    .intro{
        padding: 10px 0 20px 20px;
    }
    .intro h1{
        font-size: 50px;
    }
    .intro h2{
        font-size: 40px;
    }
    .buttons{
        margin-top: 20px;
        display: block;
    }
    .btn-secondary{
        margin-top: 10px;
    }
    .box{
        padding-top: 40px;
        height: 100%;
        width: 90%;
    }
    .description{
        padding: 20px 15px 0 0;
    }
    .about{
        height: 550px;
    }
    .test-cards{
        padding: 0 0 0 15px;
    }
    .card{
        margin-bottom: 25px;
    }
}