*{
    margin: 0;
}
.card-span{
    background: -webkit-linear-gradient(rgb(224, 130, 8), rgb(11, 4, 119));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 550;
}
.task-wrapper{
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(172, 172, 173);
    width: 700px;
    padding: 120px;
    border: 2px solid black;
    box-shadow: 0 15px 10px hsl(39, 94%, 51%);
}
.card-title{
    font-size: 40px;
    font-weight: bold;
    color: hsl(32, 95%, 59%);
    margin-bottom: 20px;
    text-align: center;
}
.datail-card {
    padding: 200px;
    border: 2px solid red;
}
.btn-details{
    font-size: 20px;
    background-image: linear-gradient(to right, red , yellow);
    color: rgb(7, 7, 7);
}
.radio input {
    font-size: 20px;
}
.form1 p{
    font-size: 20px;
    font-weight: normal;
}