.booking-hero{

    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-image: url(/bookinghero.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background: rgba(86, 84, 84, 0.8);

    
    /* opacity: 0.5; */
}

.booking-hero h2 {
    color:rgb(255, 149, 0);
}

Button {
    border-radius: 12px;
}

/* Rectangle 6 */

/* position: absolute;
width: 1836px;
height: 482px;
left: -2px;
top: 110px; */



