.booking-hero{

    font-family: 'Courier New', Courier, monospace;
    color:white;
    margin:0;
    padding:2rem, 0;
    /* background-image: url(/bookinghero.jpeg); */
    color:grey;
    /* margin-top:5rem; */
    /* padding:4.2rem; */
    /* background-image: url(/bookinghero.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    /* background: rgba(86, 84, 84, 0.8); */

    
}

.booking-hero h1 {
    color:rgb(255, 149, 0);
}

Button {
    border-radius: 12px;
}


.Booking-Form {
    max-width: 400px;
    margin: 0 auto;
    /* text-align: center; */
  }
  .Booking-Form label {
    /* text-align: left; */
    display: block;
  }
  .Booking-Form h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .Booking-Form input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: absolute;
  }
  .Booking-Form Button {
    background:rgb(255, 149, 0);
    color: #fff;
    border: 0;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    cursor: pointer;
  }


  .modal{
    position:relative;
    left:0;
    top:0;
    right:0;
    bottom:0;
    text-align:center;
    /* background-color:grey; */
    /* width:50rem; */
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    width: 50rem;
    /* background-color:rgb(212, 204, 204); */
    border:2px solid blue;
    box-shadow: 5px 5px 5px 10px grey;

  }

  .modal-header, .modal-footer {
    padding: 10px;
    color:rgb(255, 149, 0);
    text-align: center;

  }

  .modal-title{
    text-align: center;
  }

  .modal-body {
    padding:10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .modal button {
    background:rgb(255, 149, 0);
    color: #fff;
    border: 0;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    margin:5px;
    cursor: pointer;
  }

  .modal h3 {
    text-align: center;
  }

  #kichwangumu {
    text-align: center;
  }


  .storage {

  padding: 15px;
  overflow: hidden;
  border: none;
  text-align: center;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.storage Card {
  display:flex;
  justify-content: flex-end;
}


.storage:hover {
  transform: scale(1.10, 1.10);
}
/* .storage-header {
  padding:20px, 10px;
} */


.spacing{
  padding-top:9rem;
}
.spacing2 {
  padding:5rem;
}

#black {
  color:#000000;
  font-weight:300;
}