.me-auto {
    text-align: right;
    margin-left: auto;
}
.btn3{
    width: 130px;
    height: 40px;
    background-color: orange;
    border-radius: 35px;
    margin-left: 120px;
    font-size: 22px;
}
.btn4{
    width: 130px;
    height: 40px;
    background-color: rgb(153, 153, 153);
    border-radius: 35px;
    margin-left: 80px;
    font-size: 22px;
    color: white;
}
.home{
    margin-left: 550px;
    font-size: 24px;
    font-weight: bold;
}
.details{
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
}
.logo{
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}