.signUp{
    margin-top: 70px;
    margin-bottom: 200px;
}
.hero1{
    color: orange;
    margin-bottom: 20px;
}
.hero1,.section{
    text-align: center;
    font-style: italic;
}
.btn5{
    width: 150px;
}