
.Booking-Form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .Booking-Form label {
    text-align: left;
    display: block;
  }
  .Booking-Form h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .Booking-Form input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .Booking-Form Button {
    background:rgb(255, 149, 0);
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }