/* h1{
    text-align: center;
    color: #FDAA53;
    padding-top: 50px;
} */
h2{
    text-align: center;
    padding-top: 40px;
}
.storageForm{
    text-align: center;
    background-color:grey ;
}
.form-group{
    margin-left: 450px;
    width: 350px;
    text-align: center;
}
button{
margin-top: 30px;
margin-bottom: 30px;
background-color:#FDAA53 ;
}