.welcome{
    text-align: center;
    color: #FDAA53;
    padding-top: 50px;
}

.storageForm1 input {
    display:flex;
    align-items: center;
    
}

.storageForm1{
    text-align: center;
    padding-top: 15px;
    background-color:rgb(224, 223, 223) ;
   
}
.storageForm1 label{
    padding-top: 10px;
}
.storageForm1 .form-group{
    margin-left: 780px;
    width: 350px;
    text-align: center;
}
/* .storageForm1 button{
margin-top: 30px;
margin-bottom: 30px;
background-color:#FDAA53 ;
}  */

.storageCard1 card{
    background-color: grey;
    display: flex;
}
/* .row{
    width: 100px;
} */
.storageForm1 .btn{
    margin-top: 10px;
    align-items: center;
    text-align: center;
    color:white;
    background-color: #FDAA53;;
}
.storageForm1 .spacing4{
    text-align: center;
   
}
#create{
text-align: center;

margin-top: 40px;
}
.spacing3 .welcome spacing4{
    text-align: center;
}