@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');

.myGrey{
  color: black;
  background-color: rgb(185, 184, 183);
  border-color:rgb(187, 181, 181);
  padding: 3px 6px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
  font-size: 24px;
  border-radius: 12px;
  width: 50%;
}

body{
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f5f5f5;
text-align:center;
padding: 15px;
font-size: 16px;
margin: 15px;
width: 100%;
height: 720px;
padding-top: 60px;
}

.container-storage{
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;

}
