footer {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 50px 0 30px 120px;
    font-size: 20px; 
}
footer h3{
    font-weight: bold;
}
.social-icons{
    font-size: 30px;
    justify-content: space-evenly;
}
#logo-f{
    width: 80px;
    margin-bottom: 15px;
}
footer p:hover{
    color: blue;
    border-bottom: 2px solid orange;
    cursor: pointer;
}
footer {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 50px 0 30px 120px;
    font-size: 20px; 
}
footer h3{
    font-weight: bold;
}
.social-icons{
    font-size: 30px;
    justify-content: space-evenly;
}
#logo-f{
    width: 80px;
    margin-bottom: 15px;
}
footer p:hover{
    color: blue;
    border-bottom: 2px solid orange;
    cursor: pointer;
}

/* media queries */
@media screen and (min-width: 360px) and (max-width:700px){
    footer {
        padding: 15px 10px 20px 10px;
        font-size: 16px;
    }
    footer h3{
        font-size: 20px;
    }
    footer h4{
        font-size: 18px;
    }
}


@media screen and (min-width: 810px) and (max-width: 1000px){
    footer{
        padding: 0;
    }
}
