footer {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 50px 0 30px 120px;
    font-size: 20px; 
}
footer h3{
    font-weight: bold;
}
.social-icons{
    font-size: 30px;
    justify-content: space-evenly;
}
#logo-f{
    width: 80px;
    margin-bottom: 15px;
}
footer p:hover{
    color: blue;
    border-bottom: 2px solid orange;
    cursor: pointer;
}
